<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Real-Time Search</h1>

            <form class="d-flex mt-4" id="search-form">
                <input class="form-control me-2" type="search" placeholder="Search articles..." id="search-input">
                <button class="btn btn-outline-success me-2" type="submit" id="search-button">Search</button>
                <%= link_to 'Analytics' , '/analytics' , class: "btn btn-primary" %>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 mt-4">
            <ul id="search-results" class="list-group border-0">
            </ul>
        </div>
    </div>
    <%= link_to 'Create Article' , new_article_path, class: "btn btn-primary" %>
</div>

<%= javascript_include_tag 'search' %>